.tabs-component {
  .tabs-component-tabs {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0;
    margin: 0;

    .tabs-component-tab {
      list-style: none;
      border-left: 1px solid #333;
      background: #282c34;

      &:first-child {
        border-left-width: 0;
        border-top-left-radius: 6px;
      }

      &:last-child {
        border-top-right-radius: 6px;
      }

      & > .tabs-component-tab-a {
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none !important;
        padding: 0.25em 1em 0.35em;
        color: #777;
        background: rgba(255, 255, 255, 0.15);
        transition: all 0.15s ease-in-out;

        &:hover {
          color: #ccc;
        }
      }

      &.is-active > .tabs-component-tab-a {
        color: #fff;
        background: transparent;
        transition: none;
      }
    }
  }

  .tabs-component-panels {
    position: relative;
    margin-top: -14px;

    .tabs-component-panel > div {
      border-top-left-radius: 0;
    }
  }
}

.vp-hero-info {
  text-align: center;
  margin: 5rem 0;
}

#main-title {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  background-image: linear-gradient(90deg, #3eaf7c, #00cae9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
